@import "compass/reset"
@import "compass/css3"
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700&subset=latin,cyrillic)

$bg: #f4f4f4
$hcolor: #3299bb
$acolor: #3299bb
$color: #424242
$width: 800px
$footer-height: 60px

html, body
  height: 100%
  width: 100%

body
  font-family: 'Open Sans', Helvetica, sans-serif
  font-size: 100%
  background: $bg
  color: $color

h1, h2, h3, h4, h5, h6
  text-transform: uppercase
  font-weight: bold
  color: $hcolor

h1
  font-size: 200%
h2
  font-size: 170%
h3
  font-size: 150%
h4
  font-size: 130%
h5
  font-size: 130%
h6
  font-size: 130%

input
  color: $color

a
  text-decoration: none
  padding: 0 0.1em

  color: $acolor

  &:hover
    color: $bg
    background: $acolor

.app
  position: relative

  article
    width: $width
    margin: 0px auto
    padding-bottom: $footer-height + 80px
    padding-top: 80px

  footer
    height: $footer-height
    width: 100%
    position: fixed
    background: $bg
    font-size: 90%
    bottom: 0
    padding: 20px 0
    @include single-box-shadow(darken($bg, 3%), 0px, -1px, 10px, 5px)

    div 
      width: $width
      margin: 0px auto

      & > *
        opacity: 0.6

      &:hover
        & > *
          opacity: 1

      h3
        margin-bottom: 10px

      p
        margin-bottom: 3px
        font-size: 90%
        text-transform: uppercase
        color: lighten($color, 30%)

  .suggestion
    color: lighten($color, 30%)
    text-transform: uppercase

  .search-box
    width: 100%
    font-size: 250%
    text-transform: uppercase
    margin-bottom: 20px

.search-box
  border: none
  border-bottom: 1px solid $bg
  background: $bg
  &:hover, &:focus
    outline: none
    border-bottom: 1px solid darken($bg, 10%)

.results
  li
    margin-bottom: 5px

.song
  text-transform: uppercase
  font-size: 80%
  color: lighten($color, 10%)
  position: relative

  .track
    font-size: 120%
  .artist
    font-weight: bold
  .source
    font-size: 40%
    width: 70px
    position: absolute
    left: -75px
    text-align: right
    opacity: 0.3
    &:hover
      opacity: 1
