@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 100%;
  background: #f4f4f4;
  color: #424242; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
  color: #3299bb; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 170%; }

h3 {
  font-size: 150%; }

h4 {
  font-size: 130%; }

h5 {
  font-size: 130%; }

h6 {
  font-size: 130%; }

input {
  color: #424242; }

a {
  text-decoration: none;
  padding: 0 0.1em;
  color: #3299bb; }
  a:hover {
    color: #f4f4f4;
    background: #3299bb; }

.app {
  position: relative; }
  .app article {
    width: 800px;
    margin: 0px auto;
    padding-bottom: 140px;
    padding-top: 80px;
    -webkit-transform-origin: 0px 0px 0px;
    -moz-transform-origin: 0px 0px 0px;
    -ms-transform-origin: 0px 0px 0px;
    -o-transform-origin: 0px 0px 0px;
    transform-origin: 0px 0px 0px;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  .app footer {
    height: 60px;
    width: 100%;
    position: fixed;
    background: #f4f4f4;
    font-size: 90%;
    bottom: 0;
    padding: 20px 0;
    -webkit-box-shadow: 0px -1px 10px 5px #ececec;
    -moz-box-shadow: 0px -1px 10px 5px #ececec;
    box-shadow: 0px -1px 10px 5px #ececec; }
    .app footer div {
      width: 800px;
      margin: 0px auto; }
      .app footer div > * {
        opacity: 0.6; }
      .app footer div:hover > * {
        opacity: 1; }
      .app footer div h3 {
        margin-bottom: 10px; }
      .app footer div p {
        margin-bottom: 3px;
        font-size: 90%;
        text-transform: uppercase;
        color: #8f8f8f; }
  .app .suggestion {
    color: #8f8f8f;
    text-transform: uppercase; }
  .app .search-box {
    width: 100%;
    font-size: 250%;
    text-transform: uppercase;
    margin-bottom: 20px; }

.search-box {
  border: none;
  border-bottom: 1px solid #f4f4f4;
  background: #f4f4f4; }
  .search-box:hover, .search-box:focus {
    outline: none;
    border-bottom: 1px solid #dbdbdb; }

.results li {
  margin-bottom: 5px; }

.song {
  text-transform: uppercase;
  font-size: 80%;
  color: #5c5c5c;
  position: relative;
  cursor: pointer; }
  .song .box {
    display: none;
    height: 200px;
    background: white; }
    .song .box .cover-wrapper {
      float: left;
      width: 200px;
      height: 200px; }
    .song .box .metadata-wrapper {
      float: left;
      font-size: 180%;
      padding: 10px; }
  .song .progress {
    display: none;
    position: relative;
    width: 0;
    height: 6px;
    background: #a8a8a8; }
  .song.playing .box {
    display: block; }
  .song.playing .progress {
    display: block; }
  .song.playing .metadata-line {
    display: none; }
  .song.playing:hover {
    background: none;
    color: #424242; }
  .song:hover {
    background: #5c5c5c;
    color: #f4f4f4; }
  .song .track {
    font-size: 120%; }
  .song .artist {
    font-weight: bold; }
  .song .source {
    font-size: 40%;
    width: 70px;
    position: absolute;
    left: -75px;
    text-align: right;
    opacity: 0.3; }
    .song .source:hover {
      opacity: 1; }
